.datagrid-row-selected .monitor_open_a{color:white;}
.datagrid-row-selected .monitor_open_a:ACTIVE{color:white;}
.datagrid-row-selected .monitor_open_a:VISITED{color:white;}
.datagrid-row-selected .monitor_open_a:HOVER{color:white;}